<?xml version="1.0" encoding="UTF-8"?>
<menus>
   <menu name="系统配置" show="Y" >
       <menu name="应用管理" url="/getAllApp.do" show="Y"  />
       <menu name="协同区定义" url="/bsp/urss/coop_area/coop_area_frame.jsp" show="Y" />
       <menu name="桌面定义" url="/queryPageDesk.do" show="Y"/>
       <menu name="功能/资源定义" url="/bsp/urss/function/function_frame.jsp" show="Y" />
   </menu>
  <menu name="组织架构管理" show="Y" >
      <menu name="组织架构类型定义" url="/getOrgTypeByComId.do" show="Y" />
      <menu name="组织定义" url="/bsp/urss/org/org_frame.jsp" show="Y" isLeaf="Y"/>
      <menu name="岗位定义" url="/queryPagePost.do" show="Y" isLeaf="Y"/>
      <menu name="虚拟团队定义" url="/bsp/urss/org/org_frame.jsp" show="Y" isLeaf="Y"/>
      <menu name="岗位分配" url="/bsp/urss/org/org_frame.jsp" show="Y" isLeaf="Y"/>
   </menu>
   
   <menu name="权限管理" show="Y" >
     <menu name="管理用户定义" url="/listPageComUser.do"  show="Y" />
     <menu name="角色定义" url="/bsp/urss/role/role_frame.jsp" show="Y" />
     <menu name="用户定义" url="/bsp/urss/user/user_frame.jsp" show="Y" />
     <menu name="角色权限分配" url="/queryPageDesk.do" show="Y" />
     <menu name="用户权限分配" url="/queryPageDesk.do" show="Y" />
   </menu>
   
   <menu name="流程管理" show="Y" >
     <menu name="业务表单定义" url="/bsp/abdf/demo/org_select.jsp"  show="Y" />
   </menu>
   
  <menu name="数据交互" show="Y" >
     <menu name="数据发布" url="/bsp/abdf/demo/org_select.jsp"  show="Y" />
     <menu name="数据定购" url="/bsp/abdf/demo/org_select.jsp"  show="Y" />
   </menu>
   
   <menu name="系统DEMO" show="Y" >
     <menu name="选择组织架构" url="/bsp/abdf/demo/org_select.jsp"  show="Y" />
     <menu name="读取本地文件夹" url="/bsp/abdf/demo/client_folder_tree.jsp"  show="Y" />
   </menu>
   
</menus>